{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <style>
        #login_div {
            width: 400px;
        }
    </style>
    <div id="login_div"
         class="container d-flex align-items-center justify-content-center">
        <form action="/register/" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="InputEmail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="InputUsername" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="InputUsername">
                <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
            </div>
            <div class="mb-3">
                <label for="InputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password1" id="InputPassword1">
            </div>
            <div class="mb-3">
                Repeat password
            </div>
            <div class="mb-3">
                <label for="InputPassword2" class="form-label">Password</label>
                <input type="password" class="form-control" name="password2" id="InputPassword2">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}